.search {
    margin-right: 50%;
}

.search li {
    font-size: 1.2rem;
}

.nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding-left: 2em;
}
