<div *ngFor="let listing of showed_listings"  class="col-m-4">
    <mat-card class="example-card">
        <a [href]="listing['Listing Url']" target="_blank"><img mat-card-image [src]="listing['XL Picture Url']"></a>
        <mat-card-header>
                <mat-card-title>{{listing.Name}}</mat-card-title>
                <mat-card-subtitle>{{listing.City}}, {{listing.Country}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-actions>
            <img class="safety-icon" src="https://cdn1.iconfinder.com/data/icons/mix-color-3/502/Untitled-50-512.png" alt="">

        </mat-card-actions>
        {{calculate_relative(listing.danger_index)}}
    </mat-card>
</div>
